PlayerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://www.ttu.ee/idu0075/2015/ws/player" 
	targetNamespace="http://www.ttu.ee/idu0075/2015/ws/player">
	<wsdl:types>
		<xs:schema  targetNamespace="http://www.ttu.ee/idu0075/2015/ws/player" elementFormDefault="qualified">
			
			<xs:complexType name ="playerType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="club" type="xs:string"/>
					<xs:element name="age" type="xs:integer"/>
					<xs:element name="nationality" type="xs:string"/>
					<xs:element name="position" minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="Forward|Midfielder|Defender|Goalkeeper"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name ="playerStatusType">
				<xs:sequence>
					<xs:element name="player" type="tns:playerType"/>
                                        <xs:element name="playerRaiting" type="xs:integer"/>	
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name ="playerStatusListType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="playerStatus" type="tns:playerStatusType"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name ="playerRecordType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="appearances" minOccurs="1" type="xs:integer"/>
					<xs:element name="goals" minOccurs="1" type="xs:integer"/>
					<xs:element name="assists" minOccurs="1" type="xs:integer"/>
					<xs:element name="recordCode" minOccurs="1" maxOccurs="1" type="xs:integer"/>
					<xs:element name="playerStatusList" type="tns:playerStatusListType"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="getPlayerRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
						<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getPlayerResponse" type="tns:playerType"/>
			
			<xs:element name="addPlayerRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="club" type="xs:string"/>
						<xs:element name="age" type="xs:integer"/>
						<xs:element name="nationality" type="xs:string"/>
						<xs:element name="position" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="Forward|Midfielder|Defender|Goalkeeper"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addPlayerResponse" type="tns:playerType"/>
			
			<xs:element name="getPlayerListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="position" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getPlayerListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="player" type="tns:playerType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getRecordRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" minOccurs="1" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getRecordResponse" type="tns:playerRecordType"/>
			
			<xs:element name="addRecordRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="appearances" minOccurs="1" type="xs:integer"/>
						<xs:element name="goals" minOccurs="1" type="xs:integer"/>
						<xs:element name="assists" minOccurs="1" type="xs:integer"/>
						<xs:element name="recordCode" minOccurs="1" maxOccurs="1" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addRecordResponse" type="tns:playerRecordType"/>
			
			<xs:element name="getRecordListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getRecordListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="status" type="tns:playerRecordType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getPlayerRecordListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="recordId" type="xs:integer"/>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getPlayerRecordListResponse" type="tns:playerStatusListType"/>
			
			<xs:element name="addPlayerRecordListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="playerId" type="xs:integer"/>
						<xs:element name="recordId" type="xs:integer"/>
                                                <xs:element name="rating" minOccurs="1">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:minInclusive value="1"/>
                                                            <xs:maxInclusive value="99"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addPlayerRecordListResponse" type="tns:playerStatusType"/>
		</xs:schema>
		
	</wsdl:types>
	
	<wsdl:message name="getPlayerMessageRequest">
		<wsdl:part name="parameter" element="tns:getPlayerRequest"/>
	</wsdl:message>
	<wsdl:message name="getPlayerMessageResponse">
		<wsdl:part name="parameter" element="tns:getPlayerResponse"/>
	</wsdl:message>
	<wsdl:message name="addPlayerMessageRequest">
		<wsdl:part name="parameter" element="tns:addPlayerRequest"/>
	</wsdl:message>
	<wsdl:message name="addPlayerMessageResponse">
		<wsdl:part name="parameter" element="tns:addPlayerResponse"/>
	</wsdl:message>
	<wsdl:message name="getPlayerListMessageRequest">
		<wsdl:part name="parameter" element="tns:getPlayerListRequest"/>
	</wsdl:message>
	<wsdl:message name="getPlayerListMessageResponse">
		<wsdl:part name="parameter" element="tns:getPlayerListResponse"/>
	</wsdl:message>
	<wsdl:message name="getRecordMessageRequest">
		<wsdl:part name="parameter" element="tns:getRecordRequest"/>
	</wsdl:message>
	<wsdl:message name="getRecordMessageResponse">
		<wsdl:part name="parameter" element="tns:getRecordResponse"/>
	</wsdl:message>
	<wsdl:message name="addRecordMessageRequest">
		<wsdl:part name="parameter" element="tns:addRecordRequest"/>
	</wsdl:message>
	<wsdl:message name="addRecordMessageResponse">
		<wsdl:part name="parameter" element="tns:addRecordResponse"/>
	</wsdl:message>
	<wsdl:message name="getRecordListMessageRequest">
		<wsdl:part name="parameter" element="tns:getRecordListRequest"/>
	</wsdl:message>
	<wsdl:message name="getRecordListMessageResponse">
		<wsdl:part name="parameter" element="tns:getRecordListResponse"/>
	</wsdl:message>
	<wsdl:message name="getPlayerRecordListMessageRequest">
		<wsdl:part name="parameter" element="tns:getPlayerRecordListRequest"/>
	</wsdl:message>
	<wsdl:message name="getPlayerRecordListMessageResponse">
		<wsdl:part name="parameter" element="tns:getPlayerRecordListResponse"/>
	</wsdl:message>
	<wsdl:message name="addPlayerRecordListMessageRequest">
		<wsdl:part name="parameter" element="tns:addPlayerRecordListRequest"/>
	</wsdl:message>
	<wsdl:message name="addPlayerRecordListMessageResponse">
		<wsdl:part name="parameter" element="tns:addPlayerRecordListResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="RecordPortType">
		<wsdl:operation name="getPlayer">
			<wsdl:input message="tns:getPlayerMessageRequest"/>
			<wsdl:output message="tns:getPlayerMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addPlayer">
			<wsdl:input message="tns:addPlayerMessageRequest"/>
			<wsdl:output message="tns:addPlayerMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPlayerList">
			<wsdl:input message="tns:getPlayerListMessageRequest"/>
			<wsdl:output message="tns:getPlayerListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getRecord">
			<wsdl:input message="tns:getRecordMessageRequest"/>
			<wsdl:output message="tns:getRecordMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addRecord">
			<wsdl:input message="tns:addRecordMessageRequest"/>
			<wsdl:output message="tns:addRecordMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getRecordList">
			<wsdl:input message="tns:getRecordListMessageRequest"/>
			<wsdl:output message="tns:getRecordListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPlayerRecordList">
			<wsdl:input message="tns:getPlayerRecordListMessageRequest"/>
			<wsdl:output message="tns:getPlayerRecordListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addPlayerRecordList">
			<wsdl:input message="tns:addPlayerRecordListMessageRequest"/>
			<wsdl:output message="tns:addPlayerRecordListMessageResponse"/>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="RecordBinding" type="tns:RecordPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPlayer">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPlayer">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPlayerList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getRecord">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addRecord">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRecordList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getPlayerRecordList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPlayerRecordList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PlayerService">
		<wsdl:port name="PlayerPort" binding="tns:RecordBinding">
			<soap:address location="Empty"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
